* {
    margin: 0;
    padding: 0;
}

body{
    color: white;
    background-image: url(../img/fundo.jpg);
    
}

header{
    box-shadow: -5px 4px 15px rgb(150,50,150);
    background-color:rgb(40, 0, 70);
    padding: 10px;
    align-items: center;
}
header li{
    transition: 0.3s;
}

header li:hover{
font-size: large;
}

header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    background-image: linear-gradient(to right, rgb(20,0,30,0.8), rgb(40,0,70,0.8), rgb(20,0,30,0.8));
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 0, 70);
    padding: 10px;
    color: white;

}
#contato form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contato div{
    display: flex;
    flex-direction: row;
}